In [1]:
import duckdb
import pandas

In [2]:
# Connect to DuckDB (in-memory)
con = duckdb.connect(database='../data/northwind.ddb')

In [3]:
# SQL script for creating tables

sql_script = """
DROP TABLE IF EXISTS OrderDetails;
DROP TABLE IF EXISTS Orders;
DROP TABLE IF EXISTS Products;
DROP TABLE IF EXISTS Categories;
DROP TABLE IF EXISTS Customers;
DROP TABLE IF EXISTS Employees;
DROP TABLE IF EXISTS Shippers;
DROP TABLE IF EXISTS Suppliers;

CREATE TABLE Categories (
    CategoryID INTEGER PRIMARY KEY,
    CategoryName TEXT,
    Description TEXT
);

CREATE TABLE Customers (
    CustomerID INTEGER PRIMARY KEY,
    CustomerName TEXT,
    ContactName TEXT,
    Address TEXT,
    City TEXT,
    PostalCode TEXT,
    Country TEXT
);

CREATE TABLE Employees (
    EmployeeID INTEGER PRIMARY KEY,
    LastName TEXT,
    FirstName TEXT,
    BirthDate DATE,
    Photo TEXT,
    Notes TEXT
);

CREATE TABLE Shippers(
    ShipperID INTEGER PRIMARY KEY,
    ShipperName TEXT,
    Phone TEXT
);

CREATE TABLE Suppliers(
    SupplierID INTEGER PRIMARY KEY,
    SupplierName TEXT,
    ContactName TEXT,
    Address TEXT,
    City TEXT,
    PostalCode TEXT,
    Country TEXT,
    Phone TEXT
);

CREATE TABLE Products(
    ProductID INTEGER PRIMARY KEY,
    ProductName TEXT,
    SupplierID INTEGER,
    CategoryID INTEGER,
    Unit TEXT,
    Price NUMERIC DEFAULT 0,
    FOREIGN KEY (CategoryID) REFERENCES Categories (CategoryID),
    FOREIGN KEY (SupplierID) REFERENCES Suppliers (SupplierID)
);

CREATE TABLE Orders(
    OrderID INTEGER PRIMARY KEY,
    CustomerID INTEGER,
    EmployeeID INTEGER,
    OrderDate DATETIME,
    ShipperID INTEGER,
    FOREIGN KEY (EmployeeID) REFERENCES Employees (EmployeeID),
    FOREIGN KEY (CustomerID) REFERENCES Customers (CustomerID),
    FOREIGN KEY (ShipperID) REFERENCES Shippers (ShipperID)
);

CREATE TABLE OrderDetails(
    OrderDetailID INTEGER PRIMARY KEY,
    OrderID INTEGER,
    ProductID INTEGER,
    Quantity INTEGER,
    FOREIGN KEY (OrderID) REFERENCES Orders (OrderID),
    FOREIGN KEY (ProductID) REFERENCES Products (ProductID)
);
"""

# Execute the SQL script
con.execute(sql_script)

In [4]:
# Verify table creation by listing tables
tables = con.execute("SHOW TABLES").df()
print("Tables created:", tables)

Tables created:            name
0    Categories
1     Customers
2     Employees
3  OrderDetails
4        Orders
5      Products
6      Shippers
7     Suppliers

In [5]:
# Read the SQL file
with open("../sql/insert-data.sql", 'r') as sql_file:
    insert_sql = sql_file.read()

In [7]:
con.execute(insert_sql)

In [8]:
con.sql("SELECT * FROM Categories")

┌────────────┬────────────────┬────────────────────────────────────────────────────────────┐
│ CategoryID │  CategoryName  │                        Description                         │
│   int32    │    varchar     │                          varchar                           │
├────────────┼────────────────┼────────────────────────────────────────────────────────────┤
│          1 │ Beverages      │ Soft drinks, coffees, teas, beers, and ales                │
│          2 │ Condiments     │ Sweet and savory sauces, relishes, spreads, and seasonings │
│          3 │ Confections    │ Desserts, candies, and sweet breads                        │
│          4 │ Dairy Products │ Cheeses                                                    │
│          5 │ Grains/Cereals │ Breads, crackers, pasta, and cereal                        │
│          6 │ Meat/Poultry   │ Prepared meats                                             │
│          7 │ Produce        │ Dried fruit and bean curd                                  │
│          8 │ Seafood        │ Seaweed and fish                                           │
└────────────┴────────────────┴────────────────────────────────────────────────────────────┘

In [9]:
con.sql("SELECT * FROM Customers")

┌────────────┬────────────────────────────────────┬────────────────────┬───────────────────────────────┬─────────────┬────────────┬─────────┐
│ CustomerID │            CustomerName            │    ContactName     │            Address            │    City     │ PostalCode │ Country │
│   int32    │              varchar               │      varchar       │            varchar            │   varchar   │  varchar   │ varchar │
├────────────┼────────────────────────────────────┼────────────────────┼───────────────────────────────┼─────────────┼────────────┼─────────┤
│          1 │ Alfreds Futterkiste                │ Maria Anders       │ Obere Str. 57                 │ Berlin      │ 12209      │ Germany │
│          2 │ Ana Trujillo Emparedados y helados │ Ana Trujillo       │ Avda. de la Constitución 2222 │ México D.F. │ 5021       │ Mexico  │
│          3 │ Antonio Moreno Taquería            │ Antonio Moreno     │ Mataderos 2312                │ México D.F. │ 5023       │ Mexico  │
│          4 │ Around the Horn                    │ Thomas Hardy       │ 120 Hanover Sq.               │ London      │ WA1 1DP    │ UK      │
│          5 │ Berglunds snabbköp                 │ Christina Berglund │ Berguvsvägen 8                │ Luleå       │ S-958 22   │ Sweden  │
│          6 │ Blauer See Delikatessen            │ Hanna Moos         │ Forsterstr. 57                │ Mannheim    │ 68306      │ Germany │
│          7 │ Blondel père et fils               │ Frédérique Citeaux │ 24, place Kléber              │ Strasbourg  │ 67000      │ France  │
│          8 │ Bólido Comidas preparadas          │ Martín Sommer      │ C/ Araquil, 67                │ Madrid      │ 28023      │ Spain   │
│          9 │ Bon app''                          │ Laurence Lebihans  │ 12, rue des Bouchers          │ Marseille   │ 13008      │ France  │
│         10 │ Bottom-Dollar Marketse             │ Elizabeth Lincoln  │ 23 Tsawassen Blvd.            │ Tsawassen   │ T2F 8M4    │ Canada  │
│          · │           ·                        │       ·            │         ·                     │    ·        │   ·        │  ·      │
│          · │           ·                        │       ·            │         ·                     │    ·        │   ·        │  ·      │
│          · │           ·                        │       ·            │         ·                     │    ·        │   ·        │  ·      │
│         82 │ Trail''s Head Gourmet Provisioners │ Helvetius Nagy     │ 722 DaVinci Blvd.             │ Kirkland    │ 98034      │ USA     │
│         83 │ Vaffeljernet                       │ Palle Ibsen        │ Smagsløget 45                 │ Århus       │ 8200       │ Denmark │
│         84 │ Victuailles en stock               │ Mary Saveley       │ 2, rue du Commerce            │ Lyon        │ 69004      │ France  │
│         85 │ Vins et alcools Chevalier          │ Paul Henriot       │ 59 rue de l''Abbaye           │ Reims       │ 51100      │ France  │
│         86 │ Die Wandernde Kuh                  │ Rita Müller        │ Adenauerallee 900             │ Stuttgart   │ 70563      │ Germany │
│         87 │ Wartian Herkku                     │ Pirkko Koskitalo   │ Torikatu 38                   │ Oulu        │ 90110      │ Finland │
│         88 │ Wellington Importadora             │ Paula Parente      │ Rua do Mercado, 12            │ Resende     │ 08737-363  │ Brazil  │
│         89 │ White Clover Markets               │ Karl Jablonski     │ 305 - 14th Ave. S. Suite 3B   │ Seattle     │ 98128      │ USA     │
│         90 │ Wilman Kala                        │ Matti Karttunen    │ Keskuskatu 45                 │ Helsinki    │ 21240      │ Finland │
│         91 │ Wolski                             │ Zbyszek            │ ul. Filtrowa 68               │ Walla       │ 01-012     │ Poland  │
├────────────┴────────────────────────────────────┴────────────────────┴───────────────────────────────┴─────────────┴────────────┴─────────┤
│ 91 rows (20 shown)                                                                                                              7 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [1]:
# TODO: Maybe check against public instance of data (in Postgres?)

Based on the search results, there are several options for obtaining a PostgreSQL version of the Northwind database that you could use to reconcile against your DuckDB version:

1. GitHub repository: There's a GitHub repository by pthom called "northwind_psql" that provides a SQL script to populate a PostgreSQL database with the Northwind example[1]. You could use this script to create a PostgreSQL instance of Northwind.

2. Dataquest tutorial: Dataquest has a tutorial on installing PostgreSQL and importing the Northwind database[2]. They provide steps to download the Northwind SQL file and import it into a PostgreSQL database.

3. Alaska Software documentation: This source provides instructions on creating a Northwind database in PostgreSQL, including creating an empty database and then filling it with data using an SQL script[3].

4. Wikiversity: There's a Wikiversity page that provides SQL statements to create the Northwind database schema and insert data for PostgreSQL[4]. You could use these statements to set up a PostgreSQL version of Northwind.

To reconcile your DuckDB version against a PostgreSQL instance, you could:

1. Set up one of these PostgreSQL versions of Northwind.
2. Compare the table structures and data between your DuckDB version and the PostgreSQL version.
3. Run identical queries on both databases and compare the results to ensure consistency.

Remember that there might be slight variations between different versions of the Northwind database, so you may need to account for minor differences in schema or data.

Citations:
[1] https://github.com/pthom/northwind_psql
[2] https://www.dataquest.io/blog/install-postgresql-14-7-on-windows-10/
[3] https://doc.alaska-software.com/content/pgdbe_h2_the_northwind_example_database.cxp
[4] https://en.wikiversity.org/wiki/Database_Examples/Northwind/PostgreSQL
[5] https://www.youtube.com/watch?v=xW8_6UrF13U
[6] https://docs.yugabyte.com/preview/sample-data/northwind/
[7] https://github.com/sealbro/northwind
[8] https://duckdb.net/docs/basic-usage.html